.box {
  margin-top: 20px;
}

.maintitle {
  font-size: 50px;
  font-weight: 900;
  color: rgb(34, 34, 34);
}

.description {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(34, 34, 34);
}
